## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Mactan and Hinatuan for March-May of 2018
- Selecting temperatures for April and December 2018 in separate dataframes for each location
- Printing out some summary values for each month (April, December) and location (Mactan, Hinatuan)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `mactan` and `hinatuan`

In [61]:
mactan = None
hinatuan = None

# YOUR CODE HERE
import pandas as pd #To import the pandas library and with an assigned abbreviation
mt = "data/Mactan_temps_2019-01_2020-12.csv" # To locate the filepath for Mactan csv
rt = "data/Rovaniemi_temps_2019-01_2020-12.csv" # To locate the filepath for Hinatuan csv
mactan = pd.read_csv(mt) # To read the Mactan csv using pandas
hinatuan = pd.read_csv(rt) # To read the Hinatuan csv using pandas

In [62]:
print(mactan.head())
print('')
print(hinatuan.head())

   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0           0  RPM00098646  2017-01-01  79.70  86.00    NaN       26
1           1  RPM00098646  2017-01-02  79.88  85.64    NaN       27
2           2  RPM00098646  2017-01-03  82.40  88.52  76.64       28
3           3  RPM00098646  2017-01-04  82.04  89.24    NaN       28
4           4  RPM00098646  2017-01-05  81.32  88.52  77.00       27

   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  Celsius
0        1461  RP000098755  2017-01-01  80.06  84.20  75.20       27
1        1462  RP000098755  2017-01-02  80.78  85.64  75.92       27
2        1463  RP000098755  2017-01-03  79.88  85.28    NaN       27
3        1464  RP000098755  2017-01-04  80.60  86.36  75.38       27
4        1465  RP000098755  2017-01-05  77.72  89.06    NaN       25

### Part 2 (1 points)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Mactan, Cebu? (store the answer in a variable `mactan_median`)
    - Hinatuan, Surigao del Sur? (store the answer in a variable `hinatuan_median`)

In [63]:
mactan_median = None
hinatuan_median = None

# YOUR CODE HERE
mactan_median = mactan["Celsius"].median() #To get the median from the Celsius column of Mactan dataframe
hinatuan_median = hinatuan["Celsius"].median() #To get the median from the Celsius column of Hinatuan dataframe

In [64]:
# Prints the median temperatures
print(f"Mactan median: {mactan_median}")
print(f"Hinatuan median: {hinatuan_median}")

Mactan median: 28.0
Hinatuan median: 27.0

### Part 3 (2 points)

The median temperatures above consider data from the entire "summer" (Mar-May), hence the differences might not be so clear. Let's now find out the mean temperatures from March and May 2018 in Mactan and Hinatuan.

- From the `mactan` and `hinatuan` DataFrames, select the rows where values of the `DATE` column are from March 2018
    - Assign these selected rows into the variables `mactan_mar` and `hinatuan_mar` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of May and assign those values into variables to `mactan_may` and `hinatuan_may`

In [65]:
# Select the subset of the Mactan and Hinatuan data for the 3rd and 5th month
mactan_mar = None
hinatuan_mar = None

mactan_may = None
hinatuan_may = None

# YOUR CODE HERE
mactan_mar = mactan["Celsius"].loc[(mactan["DATE"] >='2018-03-01') & (mactan["DATE"] <= '2018-03-31')] #To filter the March temperatures in Mactan and store them under the variable mactan_mar
hinatuan_mar = hinatuan["Celsius"].loc[(hinatuan["DATE"] <= '2018-03-31') & (hinatuan["DATE"] >= '2018-03-01')] #To filter the March temperatures in Hinatuan and store them under the variable hinatuan_mar

mactan_may = mactan["Celsius"].loc[(mactan["DATE"] <= '2018-05-31') & (mactan["DATE"] >= '2018-05-01')] #To filter the May temperatures in Mactan and store them under the variable mactan_may
hinatuan_may = hinatuan["Celsius"].loc[(hinatuan["DATE"] <= '2018-05-31') & (hinatuan["DATE"] >= '2018-05-01')] #To filter the May temperatures in Hinatuan and store them under the variable hinatuan_may

Check that the subsets look ok:

In [66]:
print(f"First values in March, Mactan:\n{mactan_mar.head()}\n")
print(f"Last values in March, Mactan:\n{mactan_mar.tail()}")

First values in March, Mactan:
424    28
425    28
426    28
427    28
428    28
Name: Celsius, dtype: int64

Last values in March, Mactan:
450    27
451    28
452    27
453    27
454    28
Name: Celsius, dtype: int64

In [67]:
print(f"First values in May, Mactan:\n{mactan_may.head()}\n")
print(f"Last values in May, Mactan:\n{mactan_may.tail()}")

First values in May, Mactan:
485    30
486    29
487    26
488    28
489    29
Name: Celsius, dtype: int64

Last values in May, Mactan:
511    31
512    30
513    30
514    29
515    29
Name: Celsius, dtype: int64

In [68]:
print(f"First values in March, Hinatuan:\n{hinatuan_mar.head()}\n")
print(f"Last values in March, Hinatuan:\n{hinatuan_mar.tail()}")

First values in March, Hinatuan:
424    27
425    27
426    27
427    26
428    28
Name: Celsius, dtype: int64

Last values in March, Hinatuan:
450    26
451    28
452    27
453    27
454    26
Name: Celsius, dtype: int64

In [69]:
print(f"First values in May, Hinatuan:\n{hinatuan_may.head()}\n")
print(f"Last values in May, Hinatuan:\n{hinatuan_may.tail()}")

First values in May, Hinatuan:
485    28
486    27
487    28
488    28
489    28
Name: Celsius, dtype: int64

Last values in May, Hinatuan:
511    28
512    28
513    28
514    25
515    28
Name: Celsius, dtype: int64

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in March and May using the new subset dataframes (`mactan_mar`, `hinatuan_mar`, `mactan_may`, and `hinatuan_may`).

In [70]:
# YOUR CODE HERE
#To print the statistical descriptions for the temperatures of both places in March and May
print(f"Description of Mactan March Temperatures:\n{mactan_mar.describe()}\n")
print(f"Description of Hinatuan March Temperatures:\n{hinatuan_mar.describe()}\n")
print(f"Description of Mactan May Temperatures:\n{mactan_may.describe()}\n")
print(f"Description of Hinatuan May Temperatures:\n{hinatuan_may.describe()}\n")

Description of Mactan March Temperatures:
count    31.000000
mean     27.709677
std       0.782881
min      26.000000
25%      27.000000
50%      28.000000
75%      28.000000
max      29.000000
Name: Celsius, dtype: float64

Description of Hinatuan March Temperatures:
count    31.000000
mean     26.677419
std       0.832150
min      24.000000
25%      26.000000
50%      27.000000
75%      27.000000
max      28.000000
Name: Celsius, dtype: float64

Description of Mactan May Temperatures:
count    31.000000
mean     29.387097
std       0.919327
min      26.000000
25%      29.000000
50%      29.000000
75%      30.000000
max      31.000000
Name: Celsius, dtype: float64

Description of Hinatuan May Temperatures:
count    31.000000
mean     28.129032
std       0.921663
min      25.000000
25%      28.000000
50%      28.000000
75%      29.000000
max      29.000000
Name: Celsius, dtype: float64

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Hinatuan a much cooler place than Mactan?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

- Yes, the temperatures in May seem to be warmer by 1 degree Celsius than in March.
- Yes.

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)